@using System;
@model FuzzyMatchingApp.Models.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}
@*@foreach (var name in Model.UniqueNames.OrderByDescending(c => c.Item2))
{
	<p>@($"{name.Item1}, count: {name.Item2}")</p>
}*@

<div class="jumbotron">
	<select class="name-picker form-control" name="names">
		<option value=""></option>
	</select>
</div>