@model FuzzyMatchingApp.Models.ViewModels.HomePageViewModel
@{
	ViewBag.Title = "Home Page";
}


<div style="height: 500px" class="jumbotron">
	<h3 class="text-center">Search For A Customer</h3>
	<select class="name-picker form-control" name="names">
		<option value=""></option>
	</select>
	<span class="text-center" id="customer"></span>
</div>